@import url('https://fonts.google.com/specimen/Kdam+Thmor+Pro:wght@300&family=Ubuntu:wght@300&display=swap');
html, body {
  height: 100%;
  width: 100%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
  background-color: yellow;
  font-weight: bold;
  color: white;
}

.button{
  width: 66px;
  padding: 20px;
  margin: 0 3px;
  border: 1px orange;
  border-radius: 9px;
  cursor: auto;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.row{
  margin: 8px 0;
}
.row input{
  width: 291px;
  font-size: 20px;
    margin: 0;
    padding: 10px 0px;
    border: 4px bold orange;
    border-radius: 5px;
}